<link type="text/css" rel="stylesheet" href="../../../resources/css/front/style.css"/>
<link type="text/css" rel="stylesheet" href="../../../resources/css/front/alert.css"/>
<script type="text/javascript" src="../../../resources/js/front/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../../resources/js/front/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="../../../resources/js/front/jquery/jquery.serializeJSON.js"></script>
<script type="text/javascript" src="../../../resources/js/front/jquery/ajaxfileupload.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/common.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/header.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/commonQuery.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/commonInit.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/cooperateCollectCommon.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/cooperateCollectDetailCommon.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/myRecommendCommon.js"></script>
<script type="text/javascript" src="../../../resources/js/front/common/commonActionControl.js"></script><!--<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset='utf-8'/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>修改账号信息</title>
<!--<% request.setCharacterEncoding("UTF-8");%>-->
<!--<% response.setCharacterEncoding("UTF-8");%>-->
<link rel="shortcut icon" type="image/x-icon" href="../../../resources/images/front/img/homepage.png" media="screen" />
</head>
<body>
	<iframe src="../../pages/common/header.html" width="100%" border="0" frameborder="0" scrolling="no"></iframe>
	<script type="text/javascript" src="../../../resources/js/front/investorUser/updateMyPasswordInfo.js"></script>
	
	<!-- <div class='banner'>
		<img src='../../../resources/images/front/img/banner2.png' style="width:100%" height="100%" />
		<div class='width1200'>
			<div class='hex'>
				<div class='head_img fl'><img src='../../../resources/images/front/img/head_img.png'/></div>
				<div class='fl'>
					<div class='hex_t'>中国科学院</div>
					<div class='hex_tx'>备注资料备注资料，备注资料备注资料备注资料备注资料，备注资料备注资料备注资料备注资料备注资料备注资料备注资料备注资料</div>
				</div>
				<div class='clear'></div>
			</div>
			<div class='right'>
				<div class='btn'><a href=''>修改资料</a></div>
				<div class='btn'><a href=''>退出</a></div>
			</div>
		</div>
	</div> -->
	<div style="margin-top:90px;" class='cons info'>
		<div class='width1200'>
		<div class='fl left'><iframe src="../../pages/common/investorUserLeft.html" width="100%" height='1500px' border="0" frameborder="0" scrolling="no"></iframe></div>
		
		<!-- 保存失败start -->
		<div class="registSuccess" id="alertClick"></div>
		<!-- version4 点击发布需求弹框start -->
			<div id="altsthree" style="display:none">
				<div class='xuqiualert' style="margin-top:5px;width:740px;font-size: 24px;text-align:center;color:#434343;min-height:280px;">
					<div class='tits'>
						保存失败
						<div class='imgs'>
							<img
								src='../../../resources/images/front/img/close.png'
								class='img1' /> <img
								src='../../../resources/images/front/img/close2.png'
								class='img2' />
						</div>
					</div>
					<div>
					     <div>
								<font id="errorInfo" size="5" color="#349fc4"></font>
						  </div>
					</div>
				</div>
			</div>
			<!-- version4 点击发布需求弹框end -->
			<!-- version3 点击发布需求弹框start -->
			<div id="altstwo" style="display:none">
				<div class='xuqiualert' style="margin-top:5px;width:740px;font-size: 24px;text-align:center;color:#434343;min-height:280px;">
					<div class='tits'>
						保存成功
						<div class='imgs'>
							<img
								src='../../../resources/images/front/img/close.png'
								class='img1' /> <img
								src='../../../resources/images/front/img/close2.png'
								class='img2' />
						</div>
					</div>
					<div>
					     <div>
								<font size="5" color="#349fc4">恭喜您,保存成功</font>
						  </div>
					</div>
				</div>
			</div>
			
			<div  id="getDetailUrl" url="../../../investorUser/getDetail"></div>
			
			<!-- version3 点击发布需求弹框end -->
			<div style="margin-left:-50px;" class='fl right'>
				<ul class='nav'>
					<li style="font-size:17px;" class='active' id="editPassword"><a href="#">修改密码</a></li>
					<li style="font-size:17px;"><a href="#" id="editEmail">修改邮箱/手机号</a></li>
					<div class='clear'></div>
				</ul>
				<ul class='conul'>
					<li class='lists'>
					<form id="passwordForm">
						<div class='list'>
							<div class='name fl'>原始密码</div>
							<input type='password' style="color:black" id="oldPassword" name="oldPassword" class='fl' placeholder='请输入当前密码'/>
							<div class='clear'></div>
						</div>
						<div class='list'>
							<div class='name fl'>新密码</div>
							<input type='password' style="color:black" class='fl' id="newPasswordOne" name="newPasswordOne" placeholder='请输入新密码'/>
							<div class='clear'></div>
						</div>
						<div class='list'>
							<div class='name fl'>确认新密码</div>
							<input type='password' style="color:black" class='fl' id="newPasswordTwo" name="newPasswordTwo" placeholder='请再次输入新密码'/>
							<div class='clear'></div>
						</div>
						<div class='updateInfoanniu' id="commit" url="../../../security/user/changePassword"><a href="javascript:;">确定</a></div>
					  </form>
					</li>
				
					<li class='lists'>
					<form id="emailForm">
						<div class='list'>
							<div class='name fl'>邮箱</div>
							<input type='text' style="color:black" id="email" name="email" class='fl' placeholder='请输入新邮箱'/>
							<div class='clear'></div>
						</div>
						<div class='list'>
							<div class='name fl'>手机号</div>
							<input type='text' id="telno" style="color:black" name="telno" class='fl' placeholder='请输入新手机号'/>
							<div class='clear'></div>
						</div>
						<div class='updateInfoanniu' id="save" url="../../../security/user/updateEmailTel"><a href="javascript:;">保存</a></div>
					</form>
					</li>
				</ul>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<iframe src="../../pages/common/footer.html" width="100%" border="0" frameborder="0" scrolling="no"></iframe>
</body>
<script type="text/javascript">
	$(function(){
		$('.info .right .nav li').click(function(){
			$(this).addClass("active").siblings().removeClass("active");
			$('.info .right .conul li').eq($(this).index()).show().siblings("li").hide();
		})
	})
</script>
</html>
